<div class="container my-5">
  <div class="row">
      <div class="col-12 mb-4">
      <% if params[:type] == "selling" %>
        <h2>내 상품</h2>
      <% elsif @category %>
        <h2><%= @category.title %></h2>
      <% elsif params[:q] %>
        <h2>상품 검색</h2>
      <% else %>
        <h2>전체 상품</h2>
      <% end %>
      <hr>
      <%= form_tag request.parameters, method: :get do %>
        <div class="form-inline float-left mt-1">
          <%= text_field_tag :q , params[:q], class: "form-control mr-1"%>
          <%= submit_tag "검색", class: "btn btn-primary mr-1" %>
        </div>
        <div class="float-right mt-1">
          <div class="btn-group">
            <%= link_to "조회순", request.parameters.merge(order: nil), class: "btn btn-#{params[:order].blank? ? "secondary" : "outline-secondary"}" %>
            <%= link_to "최신순", request.parameters.merge(order: :updated_at), class: "btn btn-#{params[:order] == "updated_at" ? "secondary" : "outline-secondary"}" %>
            <%= link_to "가격순", request.parameters.merge(order: :price), class: "btn btn-#{params[:order] == "price" ? "secondary" : "outline-secondary"}" %>
          </div>
          <%= link_to "상품 등록", new_post_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <% @posts.each do |post| %>
      <%= render 'shared/post', post: post %>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
